body{
    margin: 0px;
    display: flex;
    justify-content: center;
}

.container{
    width: 320px;
    height: 400px;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(92, 92, 92);

    display: flex;
    flex-direction: column;
}

.display{
    height: 35%;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: whitesmoke;
}

.button-pad{
    height: 65%;
    display: flex;
}

.operator-pad{
    width: 20%;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.main-left-pad{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.memory-pad{
    height: 20%;
    width: auto;
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px;

    display: flex;
}

.num-pad{
    height: 80%;
    width: 100%;
    display: flex;
    gap: 5px;
}

.scientific-pad{
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

.numbers{
    width: 75%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.row{
    flex: 1;
    display: flex;
}

button{
    flex: 1;
    margin: 2px;
    font-size: large;
    background-color: grey;
    border-radius: 5px;
}

.operator-pad, .memory-pad,
.numbers, .scientific-pad{
    background-color: whitesmoke;
}

.row-1, .row-2{
    height: 50%;
    width: 100%;
    text-align: end;
    font-size: xx-large;
}